.userContainer{
	background-color: #FFF;
	overflow: scroll;
}
.userContainer .body{
	width: 800px;
	height: 700px;
	border-radius: 5px;
	margin-top: 10px;
	margin-left: 10px;
}
.userContainer .body button{
	height: 30px;
	margin-left: 10px;
	margin-top: 10px;
	display: block;
}
.userContainer .body #userMessage{
	border: 1px solid #EDEDED;
	width: 224px;
	height: 280px;
	margin-left: 10px;
	margin-right: 25px;
	margin-top: 10px;
	display: inline-block;
	overflow: hidden;
	font-size: 12px;
	color: #666;
}
.userContainer .body #userMessage div:first-child{
	/*border: 1px solid red;*/
	width: 112px;
	height: 112px;
	border-radius: 50%;
	margin-top: 5px;
	margin-left: 40px;
	border: 1px solid #EDEDED;
}
.userContainer .body #userMessage img{
	width: 112px;
	height: 112px;
	border-radius: 50%;
}
.userContainer .body #userMessage p{
	margin-left: 25px;
	margin-top: 5px;
}
.userContainer .body #userMessage p span{
	display: inline-block;
	width: 70px;
}
.modal .modal-body input{
	width: 500px;
	height: 30px;
}